
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" slogan="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="~/Content/Clients/style.css">
    <link rel="stylesheet" href="~/Content/Clients/base.css">

    <title>Trang chủ</title>
</head>

<body>
    <div class="header grid__auto">

        <div class="header__navbar-flex-user grid__auto ">
            <span style="font-size:30px;cursor:pointer;margin: 2px 15px;" onclick="openNav()">&#9776; </span>

            <ul class="header__navbar-items ">
                <li class="header__navbar-item">
                    <a href="login.html">Đăng nhập</a>
                </li>
                <li class="header__navbar-item">
                    <a href="register.html">Đăng ký</a>
                </li>
            </ul>
        </div>
    </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/Admin/Home/">Trang chủ</a>
            <a href="/Admin/Category/ListCategory">Thể loại</a>
            <a href="/Admin/Product/ListProduct">Sản phẩm</a>

            <a href="#">Contact</a>
        </div>

        @RenderBody()

        <!-- footer -->
        <footer class="footer">
            <div class="grid__auto">
                <div class="footer-flex">
                    <div class="footer__content">
                        <div class="footer__content-container">
                            <h3>TRÙM ĂN VẶT</h3>
                            <p>
                                Giao hàng mọi nơi trong thời gian nhanh nhất,
                                nhận hàng nhanh chóng. Hình ảnh chụp thật 100%,
                                đảm bảo sản phẩm đúng như hình đăng tải.
                                Liên hệ tư vấn nhanh chóng khi khách hàng đặt sản phẩm.
                            </p>
                        </div>
                    </div>

                    <div class="footer__contact">
                        <div class="footer__contact-container">
                            <h3>THÔNG TIN LIÊN HỆ</h3>
                            <p><i class="fa-solid fa-building"></i>Trùm ăn vặt</p>
                            <p><i class="fa-solid fa-map-location-dot"></i>126 Nguyễn Văn Công</p>
                            <p><i class="fa-solid fa-envelope"></i>Email: trumanvat@gmail.com</p>
                            <p><i class="fa-solid fa-phone"></i>Điện thoại:0971099313</p>
                        </div>
                    </div>
                </div>
                <div class="copyright">Copyright &copy; Wolf</div>
            </div>
        </footer>

        <script src="~/Content/Clients/js.js"></script>
        </>
    </body>
</html>
@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@