@using PagedList.Mvc;
@using PagedList;
@model IPagedList<QuanLiBanSach02.Models.Product>

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    .paging-container a {
        display: inline-block;
        padding: 5px 10px;
        margin: 0 2px;
        border: 1px solid #ddd;
        color: #333;
        text-decoration: none;
    }

    .paging-container .active {
        background-color: #333;
        color: white;
    }
</style>

<!--List products-->
<div class="container">
    @if (Model != null && Model.Any())
    {
        <ul class="row g-3" style="list-style-type:none">
            @foreach (var item in Model)
            {
                <li class="col-3">
                    <div class="bg-white d-flex justify-content-around flex-wrap">
                        <div>
                            <img src="~/Content/Images/@item.Image" alt="@item.Image" style="width:200px; height:230px" />
                        </div>
                        <div>
                            <h3>@Html.DisplayFor(modelItem => item.ProductName)</h3>
                            <h1 style="color:red">@Html.DisplayFor(modelItem => item.Price)</h1>
                            <a class="btn btn-primary" style="margin-bottom:5px" href="@Url.Action("Detail", "Book", new { id = item.ProductID })">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    }
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <div class="paging-container">
            <br />
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>
