@model List<QuanLiBanSach02.Models.CartModels>

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@Html.ValidationMessage("", "", new { @class = "text-danger" })

@if (Model == null)
{
    <h2 class="text-info text-center">Chưa có sản phẩm</h2>
}
else
{
    <div class="content grid__auto">

        @if (TempData["cartIsEmpty"] != null)
        {
            <div class="alert alert-warning">@TempData["cartIsEmpty"]</div>
        }

        <div class="inner">
            <table id="tblCart">
                <tr class="border-table">
                    <th>Mã hàng</th>
                    <th>Tên hàng</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr class="remove-all">
                        <td>
                            <a target="_blank" href="@Url.Action("Details", "Product", new { id=item.ProductID })">@item.ProductName</a>
                        </td>

                        <td class="getPrice">@item.Price</td>

                        <td>
                            <form action="@Url.Action("UpdateCart")" method="get">
                                <input type="hidden" name="id" value="@item.ProductID" />
                                <input type="number" name="txtSoLuong" min="1" value="@item.Quantity" />
                                <button type="submit" class="btn btn-success btn-sm">Cập nhật</button>
                            </form>
                        </td>
                        <td class="getPrice">@item.Total VNĐ</td>

                        <td>
                            <a href="@Url.Action("DeleteCartItem", "Cart", new { id=item.ProductID })" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="btn btn-danger btn-sm">Xóa</a>
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td>Tổng số lượng: @Model.Sum(m => m.Quantity)</td>
                    <td>Tổng thành tiền: @Model.Sum(m => m.Total) VNĐ</td>
                    <td></td>
                </tr>

                <tr>
                    <td class="text-end" colspan="4">
                        <form action="@Url.Action("Order", "Cart")" method="post">
                            Thông tin đặt hàng - Email: <input type="email" name="email" />
                            - Điện thoại: <input type="text" name="phone" />
                            <input type="submit" value="Đặt hàng" class="btn btn-success btn-sm" />
                            <a class="btn btn-success btn-sm" href="@Url.Action("ListProduct", "Product")">
                                Tiếp tục mua hàng
                            </a>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>

}